
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .upload-img-btn {
    border: 2px solid #002F34;
    color: #002F34;
    background-color: white;
    padding: 2px 10px;
    border-radius: 8px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .mainDIV{
    color: #002F34;
    margin-top: 50px;
    margin-bottom: 50px;
}
h3{
    text-transform: uppercase;
    margin-top: 20px;
}
.log-btn {
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    border: none;
    border-radius: 10px;
    background-color: #002F34;
    color: white;
    font-weight: bold;
    padding: 8px 15px 8px 15px;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    height: 50px;
}

.log-btn:hover {
    background-color: white;
    color: #002F34;
    border: 2px groove #002F34;
}
.div1{
    border: 1px solid gray;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
}
.input {
    border-radius: 5px;
    width: 90%;
    padding: 20px;
    margin-top: 30px;
    font-family: 'Poppins' , sans-serif ;
    font-size: medium;
}
.input::placeholder{
    font-family: 'Poppins' , sans-serif ;
    font-size: medium;
}
.div2{
    width: 95%;
    margin: 0 auto;
    text-align: left;
}